.form-container {
    margin: 0; /* Giảm margin xung quanh form */
    padding: 10px; /* Giữ padding hợp lý để giữ khoảng cách bên trong form */
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto; /* Tự động điều chỉnh chiều cao theo nội dung */
    min-height: 200px; /* Chiều cao tối thiểu của form, bạn có thể điều chỉnh */
}

.form-container input,.form-container textarea  {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Chuyển nút thành block-level element */
    margin: 20px auto; /* Căn giữa */
}

.form-container button:hover {
    background-color: #45a049;
}
h2 {
    margin-bottom: 10px; 
    margin-top: 0; 
    padding-top: 0;

}

.form-container form {
    margin-top: 0; /* Giảm khoảng cách trên của form */
}